/*webkit-sassui-flex-hdfixed-bdauto Start*/
.webkit-sassui-flex-hdfixed-bdauto {
  display: flex;
  flex-direction: column;
}

.webkit-sassui-flex-hdfixed-bdauto > .bd {
  flex: 1;
}

/*webkit-sassui-flex-hdfixed-bdauto End*/
* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

html, body {
  height: 100%;
}

.test-webkit-sassui-flex-hdfixed-bdauto {
  border: 1px solid red;
}

.box1 {
  height: 100%;
}

.box1 > .hd {
  height: 120px;
  background: #eee;
}

.box1 > .bd {
  background: salmon;
}
