/*webkit-sassui-flex-fixed-bdauto Start*/
.webkit-sassui-flex-fixed-bdauto {
  display: flex;
  flex-direction: column;
}

.webkit-sassui-flex-fixed-bdauto[data-scroll=true] > .bd {
  overflow-y: scroll;
}

.webkit-sassui-flex-fixed-bdauto[data-scroll=true][data-auto=true] > .bd {
  overflow-y: auto;
}

.webkit-sassui-flex-fixed-bdauto > .bd {
  flex: 1;
}

/*webkit-sassui-flex-fixed-bdauto End*/
* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

html, body {
  height: 100%;
}

.test-webkit-sassui-flex-fixed-bdauto {
  border: 1px solid red;
}

.box1 {
  height: 100%;
}

.box1 > .hd {
  height: 120px;
  background: dodgerblue;
  color: #fff;
  text-align: center;
  line-height: 120px;
  font-size: 40px;
}

.box1 > .bd {
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
}

.box1 > .bd p {
  margin-bottom: 10px;
}
