/*webkit-sassui-flex-hdfixed-bdauto Start*/

.webkit-sassui-flex-hdfixed-bdauto {
    display: flex;
    flex-direction: column;

    &[data-scroll=true]{
      >.bd{
        overflow-y: scroll;
      }
    }

    >.hd {
    }
    >.bd {
        flex: 1;
    }
}


/*webkit-sassui-flex-hdfixed-bdauto End*/
